<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">{{value}}</a>
        
        <!-- Links -->
        <ul class="navbar-nav clearfix">
          <li class="nav-item">
            <a class="nav-link" routerLink="/items">Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" routerLink="/cart"><span class="fa fa-cart-plus" style="color: white; font-size: 20px;"></span> Cart</a>
          </li>
        </ul>
      </nav>
