<br><br>

<div class="card">
  <div class="card-header">
      <h4>Cart Items</h4>
  </div>
  <div class="card-body">
  <div class="alert alert-warning" *ngIf='total===0'>Cart is empty</div>
    <table class="table table-bordered"  *ngIf="total!==0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Item</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let carts of cartItems">
            <td>{{carts.id}}</td>
            <td>{{carts.name}}</td>
            <td>&#8377;{{carts.price}}</td>
            <td><button class = "btn btn-outline" (click)="handleBuy($event,carts,false)"><i class="fa fa-minus-square" style="font-size:20px"></i></button>&nbsp;&nbsp;{{cart.get(carts)}}
                &nbsp;&nbsp;<button class = "btn btn-outline" (click)="handleBuy($event,carts,true)">  <i class="fa fa-plus-square" style="font-size:20px"></i></button></td>
            <td>&#8377;{{carts.price*cart.get(carts)}}</td>
          </tr>
        </tbody>
        <h2 class="text text-dark">Total : &#8377;{{total}} </h2>
</table>

</div>
</div>
