
<!-- <mat-checkbox [(ngModel)]="recursive">Recursive</mat-checkbox> -->
<div class="workflow">
<mat-card class="cards">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-nested-tree-node *matTreeNodeDef="let node">
      <li>
        <div class="mat-tree-node"> <h6 class="nod shadow">{{node.task.task.name}}</h6></div>
      </li>
    </mat-nested-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChildren">
        <li class="example-tree-container">
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle
                    [matTreeNodeToggleRecursive]="recursive"
                  [attr.aria-label]="'toggle ' + node.filename">
                <i class="fa fa-chevron-down" aria-hidden="true" *ngIf="treeControl.isExpanded(node)"></i>
                <i class="fa fa-chevron-right" aria-hidden="true" *ngIf="!treeControl.isExpanded(node)"></i>
            </button>
            <h6 class="nod shadow">{{node.task.task.name}}</h6>
        </div>
        <ul class="example-tree-nested-node">
          <div  *ngIf="treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </ul>
      </li>
      
    </mat-nested-tree-node>
  </mat-tree>
</mat-card>
</div>