.card{
    margin-top:20px;
    min-height: 500px;
    padding: 30px;
}

// style="padding:20px;border:1px solid black;margin:10px;background-color:grey">

.tnode {
    padding : 25px;
    border: 1px solid black;
    margin: 15px; 
    background-color: cadetblue;
}

.nody{
    margin-left: 10px;
}

.formGroup {
    margin-left: 15px;
}