
$theme-colors: (
    "bar": white
  );

$enable-shadows:true;
$navbar-light-hover-color:black;
$navbar-brand-font-size: 1.7rem;
$navbar-light-brand-color:  black;

.navbar {
  min-height: 75px;
}



