<div>
  <div *ngIf="isSubmitted">Service Added Successfully</div>
  <form [formGroup]="serviceForm" (submit)="handleFormSubmit($event)" *ngIf= "!isSubmitted">
    <div class="form-group">
      <label>Name:</label>
      <input (blur)="handleBlur(serviceForm.get('name'))" 
              autofocus class="form-control" 
              [class.is-invalid]="errors.name" 
              formControlName="name" />
      <div class="text-danger">{{errors.name}}</div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea type="text" class="form-control" formControlName="description"></textarea>
    </div>
    <button class="btn btn-dark" type="submit">submit</button>
  </form>
</div>
