<div class="orderedTask">
    <div class="row">
        <h3 class="col-sm-12 col-md-8">Tasks</h3>
    </div>
    <table class="table table-responsive-md">
        <thead class="thead-dark shadow mb-2">
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Team Member</th>
                <th>Send Message</th>
                <th>Transfer Task</th>
                <th>Cancel task</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orderedTask of orderedTasks" class="shadow-sm mx-2">
                <td>{{orderedTask.task.name}}</td>
                <td><span [ngClass]="{'bg bg-info':true, 'rounded-lg':true, 'border border-dark':true, 'p-2':true,
                    'bg bg-success':orderedTask.taskStatus==='Completed',
                               'bg bg-danger':orderedTask.taskStatus==='Cancelled',
                               'bg bg-warning':orderedTask.taskStatus==='Pending',
                               'bg bg-info':orderedTask.taskStatus==='InProgress',
                            'bg bg-secondary':orderedTask.taskStatus=='NotStarted'}
                            ">{{orderedTask.taskStatus}}</span></td>
                <td>{{orderedTask.employee.firstName}}</td>
                <td><button class="btn btn-outline-dark"><i class="fa fa-envelope" style="font-size: 26px"></i></button></td>
                <td><button class="btn btn-outline-dark"  (click)="transferTask()"><i class="fa fa-share-square" style="font-size: 26px"></i></button></td>
                <td *ngIf="orderedTask.taskStatus!=='Cancelled'"><button class="btn btn-outline-danger"><i class="fa fa-close" style="font-size: 26px"></i></button></td>
            </tr>
        </tbody>
    </table>
    <div class=" col-md-6">
    <app-transfer-task-form *ngIf="isClicked"></app-transfer-task-form>
    </div>
</div>