<div *ngIf = "!project">
<div class="row detail">
    <div class="col-sm-12 col-md-6">
        <app-project-detail value="Project 1" type="Project">
            <app-project-form [value] = "projectManagerId"></app-project-form> 
        </app-project-detail>
    </div>
    <div class="col-sm-12 col-md-6">
        <app-project-detail value="Customer 1" type="Customer">
            <app-customer-form></app-customer-form>
        </app-project-detail>
    </div>
</div>
</div>
<div *ngIf="project">
    <app-ordered-service-list [value]="orderedServices" [type]="type" [project] = "project"></app-ordered-service-list>
</div>