<div class="card shadow-sm">
    <div class="card-header">
        <h3>Change Status </h3>
    </div>
    <div class="card-body">
        <div class="form">
            <mat-form-field>
                <mat-label>Change Status</mat-label>
                <mat-select>
                    <mat-option *ngFor="let status of status" [value]="status.value">
                        {{status.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="form-group-lg">
                <button class="btn btn-dark mr-2">Change Status</button>
            </div>
        </div>
    </div>
</div>