<form [formGroup]="projectForm" (ngSubmit)="handleFormSubmit($event)" *ngIf="true">
  <div class="form-group">
    <label>Name:</label>
    <input (blur)="handleBlur(projectForm.get('name'))" autofocus class="form-control" [class.is-invalid]="errors.name"
      formControlName="name" />
    <div class="text-danger">{{errors.name}}</div>
  </div>
  <!-- <div class="form-group">
      <label>Description</label>
      <textarea type="text" class="form-control"></textarea>
    </div> -->

  <mat-form-field>
    <mat-label>Select Customer</mat-label>
    <mat-select formControlName="customer">
      <mat-option *ngFor="let customer of customerOptions" [value]="customer">
        {{customer.firstName}}
      </mat-option>
    </mat-select>
    </mat-form-field>

    <div class="form-group">
      <label>Start Date:</label>
      <input type="date" class="form-control" formControlName="startDate" />
    </div>

    <div class="form-group">
      <label>Expected Delivery Date:</label>
      <input type="date" class="form-control" formControlName="deliveryDate" />
    </div>
    <button class="btn btn-dark">submit</button>
</form>