<br><div class="container">
<h3>Todo List</h3>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
            <!-- <tr *ngIfstyle="background-color: #DCDCDC;"> -->
		<tr *ngFor="let todo of todos" [ngClass]="{'bgColor':todo.completed}">
            <!-- <app-todo [value]="todo"></app-todo> -->
            <td>{{todo.id}}</td>
            <td>{{todo.title}}</td>
            <td><a href = "/todo/view?id=<%=todo.getId()%>"  style="text-decorations:none; color:inherit;"><i class="fa fa-external-link" style="font-size: 30px;"></i></a></td>
            <td><button class="btn btn-outline" data-toggle="modal" data-target="#myModal" routerLink="/addTodo" style="text-decorations:none; color:inherit;"><i class="fa fa-edit" style="font-size: 30px;"></i></button></td>
            <td><a href = "/todo/delete/?id=<%=todo.getId()%>"  style="text-decorations:none; color:inherit;"><i class="fa fa-trash-o" style="font-size: 30px;"></i></a></td>
            <td><a href = "/todo/toggle/?id=<%=todo.getId()%>"  style="text-decorations:none; color:inherit;"><i Class="fa fa-check-square-o" style="font-size: 30px;" *ngIf = "todo.completed"></i>
            <i Class="fa fa-square-o" style="font-size: 30px;" *ngIf = "!todo.completed"></i></a></td>
        </tr>
    </tbody>
</table>
</div>
<router-outlet></router-outlet>